# Cleaning datasets in pandas

- Describe data
- Drop duplicates
- Null values
    * Count nulls: `df.cylinders.isnull().sum()`
    * Fill nulls `df["cylinders"].fillna(0)`
    * Most nulls `df.isnull().sum().sort_values(ascending=False).head(10)`
- Sorting
    * `sort_values()`
    * Sort colums alphabetical `df = df[sorted(df.columns)]`
- Rename cols: `df = df.rename(columns={'make':'Manufacturer','displ':'Displacement'}, errors="raise")`
- Remove Outliers
    * Percentile
```python
d = [3,3,3,3,3,3,3,3,3,3,6,7,8]
print(min(d),np.percentile(d,70))
```
    * IQR: 
```python
stats = df.describe().T
stats['IQR'] = stats['75%'] - stats['25%']
stats[["25%","75%","IQR"]]
```

- Cut data (Categorize): 
    * By range: `pd.cut(coches_caros.year,5, labels=range(1980,2030,10))`
    * Custom  `pd.cut(coches_caros.year,bins=[1979,1989,1999,2009,2019], labels=range(1980,2020,10))`
    
- Aggregate
    * Single `coches_caros.groupby("decada").agg({"Displacement":"mean"}).plot.bar()`
    * Multiple `coches_caros.groupby("decada").agg({"Displacement":"mean", "cylinders":"mean"})`

- Apply
    * `apply()` in `Dataframe` vs `apply()` in `Series`
    * `apply(axis=1)`
    * `apply(result_type="broadcast")`

- Others:
     * `df._get_numeric_data()`
     * `df.to_csv("hola.csv")`

In [2]:
import pandas as pd

df = pd.read_csv('data/vehicles/vehicles_messy.csv')
print(df.shape)
df.head()

(37843, 83)

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [3]:
df.shape

(37843, 83)

In [4]:
df.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

## 1. Eliminar duplicados

In [13]:
makemodel = df[["make","model"]]
print(makemodel.shape)
print(makemodel.drop_duplicates().shape)
print(makemodel[["make"]].drop_duplicates().shape)
print(df.drop_duplicates().shape)

(37843, 2)
(3761, 2)
(133, 1)
(37843, 83)

## 2. Valores Nulos

In [16]:
df.isnull().head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False

In [17]:
df.isnull().sum()

barrels08         0
barrelsA08        0
charge120         0
charge240         0
city08            0
              ...
modifiedOn        0
startStop     31705
phevCity          0
phevHwy           0
phevComb          0
Length: 83, dtype: int64

In [19]:
for nameCol, numNulls in df.isnull().sum().items():
    if numNulls > 0:
        print(nameCol, numNulls)

cylinders 123
displ 120
drive 1189
eng_dscr 15403
trany 11
guzzler 35562
trans_dscr 22796
tCharger 32657
sCharger 37177
atvType 34771
fuelType2 36435
rangeA 36440
evMotor 37281
mfrCode 30818
c240Dscr 37806
c240bDscr 37807
startStop 31705

In [25]:
# Ver las columnas marca y modelo de los coches que no tienen cilindros
df[df["cylinders"].isnull()][["make","model"]]

         make                            model
7138   Nissan                         Altra EV
7139   Toyota                          RAV4 EV
8143   Toyota                          RAV4 EV
8144     Ford                            Th!nk
8146     Ford           Explorer USPS Electric
...       ...                              ...
30969     Kia                    Soul Electric
30972   Tesla  Model S (60 kW-hr battery pack)
30973   Tesla                Model S AWD - 60D
30974   Tesla              Model S AWD - P100D
30975   Tesla                Model X AWD - 60D

[123 rows x 2 columns]

In [31]:
# ~ means not
df_clean = df[~df["cylinders"].isnull()]

In [32]:
df_clean.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [36]:
list(df_clean["make"].value_counts().items())

[('Chevrolet', 3790),
 ('Ford', 3089),
 ('Dodge', 2512),
 ('GMC', 2387),
 ('Toyota', 1912),
 ('BMW', 1697),
 ('Nissan', 1335),
 ('Mercedes-Benz', 1322),
 ('Volkswagen', 1113),
 ('Mitsubishi', 1018),
 ('Mazda', 944),
 ('Audi', 918),
 ('Pontiac', 893),
 ('Honda', 880),
 ('Porsche', 874),
 ('Jeep', 847),
 ('Subaru', 826),
 ('Volvo', 758),
 ('Chrysler', 703),
 ('Hyundai', 665),
 ('Buick', 630),
 ('Mercury', 609),
 ('Cadillac', 528),
 ('Plymouth', 525),
 ('Suzuki', 515),
 ('Kia', 493),
 ('Oldsmobile', 462),
 ('Isuzu', 434),
 ('Saab', 432),
 ('Lexus', 397),
 ('Infiniti', 349),
 ('Jaguar', 349),
 ('MINI', 320),
 ('Acura', 302),
 ('Lincoln', 283),
 ('Saturn', 278),
 ('Ferrari', 211),
 ('Rolls-Royce', 173),
 ('Eagle', 161),
 ('Geo', 147),
 ('Land Rover', 145),
 ('Aston Martin', 142),
 ('Bentley', 116),
 ('Maserati', 115),
 ('Lamborghini', 107),
 ('Peugeot', 98),
 ('Scion', 83),
 ('Daewoo', 67),
 ('Lotus', 57),
 ('Ram', 57),
 ('Renault', 56),
 ('Roush Performance', 53),
 ('Alfa Romeo', 45),
 ('Fiat', 43),
 ('J.K. Motors', 36),
 ('Wallace Environmental', 32),
 ('Maybach', 31),
 ('American Motors Corporation', 27),
 ('smart', 20),
 ('Hummer', 19),
 ('CX Automotive', 17),
 ('Daihatsu', 17),
 ('Merkur', 14),
 ('Federal Coach', 14),
 ('Spyker', 13),
 ('McLaren Automotive', 13),
 ('Import Trade Services', 13),
 ('Sterling', 12),
 ('Dabryan Coach Builders Inc', 9),
 ('Bugatti', 8),
 ('Yugo', 8),
 ('Genesis', 7),
 ('Bertone', 7),
 ('Pininfarina', 6),
 ('Mcevoy Motors', 6),
 ('AM General', 6),
 ('Tecstar, LP', 6),
 ('Bitter Gmbh and Co. Kg', 5),
 ('Saleen Performance', 5),
 ('VPG', 5),
 ('Saleen', 5),
 ('Texas Coach Company', 4),
 ('TVR Engineering Ltd', 4),
 ('Panther Car Company Limited', 4),
 ('Autokraft Limited', 4),
 ('Vector', 4),
 ('Bill Dovell Motor Car Company', 4),
 ('Grumman Olson', 4),
 ('Kenyon Corporation Of America', 4),
 ('Ruf Automobile Gmbh', 3),
 ('Consulier Industries Inc', 3),
 ('BMW Alpina', 3),
 ('Morgan', 3),
 ('Dacia', 3),
 ('Evans Automobiles', 3),
 ('PAS, Inc', 2),
 ('Pagani', 2),
 ('PAS Inc - GMC', 2),
 ('CCC Engineering', 2),
 ('SRT', 2),
 ('Avanti Motor Corporation', 2),
 ('Quantum Technologies', 2),
 ('Mobility Ventures LLC', 2),
 ('Laforza Automobile Inc', 2),
 ('Red Shift Ltd.', 2),
 ('London Taxi', 1),
 ('JBA Motorcars, Inc.', 1),
 ('Grumman Allied Industries', 1),
 ('General Motors', 1),
 ('Environmental Rsch and Devp Corp', 1),
 ('E. P. Dutton, Inc.', 1),
 ('Lambda Control Systems', 1),
 ('Shelby', 1),
 ('S and S Coach Company  E.p. Dutton', 1),
 ('Aurora Cars Ltd', 1),
 ('Volga Associated Automobile', 1),
 ('Isis Imports Ltd', 1),
 ('ASC Incorporated', 1),
 ('Vixen Motor Company', 1),
 ('Mahindra', 1),
 ('Superior Coaches Div E.p. Dutton', 1),
 ('London Coach Co Inc', 1),
 ('Panos', 1),
 ('Excalibur Autos', 1),
 ('Import Foreign Auto Sales Inc', 1),
 ('Fisker', 1),
 ('Qvale', 1),
 ('Goldacre', 1),
 ('Panoz Auto-Development', 1)]

In [41]:
df_clean["make"].value_counts().sort_values(ascending=False)

Chevrolet                    3790
Ford                         3089
Dodge                        2512
GMC                          2387
Toyota                       1912
                             ...
General Motors                  1
Grumman Allied Industries       1
JBA Motorcars, Inc.             1
London Taxi                     1
Panoz Auto-Development          1
Name: make, Length: 129, dtype: int64

In [48]:
df_clean["make"].value_counts().reset_index().sort_values('index')

                           index  make
75                    AM General     6
117             ASC Incorporated     1
33                         Acura   302
52                    Alfa Romeo    45
57   American Motors Corporation    27
..                           ...   ...
8                     Volkswagen  1113
17                         Volvo   758
55         Wallace Environmental    32
70                          Yugo     8
58                         smart    20

[129 rows x 2 columns]